# Architecture Independent Docker Stack Components for Moped Development Environment
services:
    hasura:
        image: hasura/graphql-engine:v2.48.12
        depends_on:
            - moped-pgsql
        expose:
            - 8080
        ports:
            - 8082:8080
        environment:
            - HASURA_GRAPHQL_ENABLE_CONSOLE=false
            - HASURA_GRAPHQL_ENABLE_TELEMETRY=false
            - HASURA_GRAPHQL_DATABASE_URL=postgres://moped:moped@moped-pgsql:5432/moped
            - HASURA_GRAPHQL_CONSOLE_ASSETS_DIR=/srv/console-assets
            - MOPED_API_ACTIONS_URL=http://localhost:5000/actions
            - MOPED_API_EVENTS_URL=http://localhost:5000/events
            - HASURA_ENDPOINT=http://localhost:8082/v1/graphql
            - MOPED_API_APIKEY=DuMmyApiKeyHFVOVto19otC1wX6sP2N0VSKrCD70L10B7Sm525ZR6L672i2F79M9!
            - 'HASURA_GRAPHQL_JWT_SECRET={"type":"RS256","jwk_url": "https://cognito-idp.us-east-1.amazonaws.com/us-east-1_U2dzkxfTv/.well-known/jwks.json","claims_format": "stringified_json"}'
            - HASURA_GRAPHQL_ADMIN_SECRET=hasurapassword
            - ACTIVITY_LOG_API_SECRET=hasurapassword
            - HASURA_GRAPHQL_NO_OF_RETRIES=30
        command: ["graphql-engine", "serve", "--enable-console"]

    moped-pgsql:
        image: "atddocker/postgis:unified-db"
        volumes:
            - moped-db-vol:/var/lib/postgresql/data
        expose:
            - 5432
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=moped
            - POSTGRES_PASSWORD=moped
            - POSTGRES_DB=moped
        command:
            [
                "postgres",
                "-c",
                "jit=off",
                "-c",
                "log_statement=ddl",
                "-c",
                "log_min_messages=info",
            ]

# There is a volume which is common
volumes:
    moped-db-vol:
        driver: local
