# X86_64 Builds for Intel Macs, Windows, most Linux, etc.
version: '3.7'

services:

    moped-pgsql:
        image: "postgis/postgis:12-3.2-alpine"
        volumes:
            - moped-db-vol:/var/lib/postgresql/data
        expose:
            - 5432
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=moped
            - POSTGRES_PASSWORD=moped
            - POSTGRES_DB=moped
        command: ["postgres", "-c", "jit=off"]
