version: '3.7'
services:

    hasura:
        image: frankinaustin/graphql-engine-arm64:v1.3.3
        restart: always
        depends_on:
            - moped-pgsql
        expose:
            - 8080
        ports:
            - 8080:8080
        environment:
            - HASURA_GRAPHQL_ENABLE_CONSOLE=false
            - HASURA_GRAPHQL_ENABLE_TELEMETRY=false
            - HASURA_GRAPHQL_DATABASE_URL=postgres://moped:moped@moped-pgsql:5432/moped
            - HASURA_GRAPHQL_CONSOLE_ASSETS_DIR=/srv/console-assets
            - MOPED_API_ACTIONS_URL=http://localhost:5000/actions
            - MOPED_API_EVENTS_URL=http://localhost:5000/events
            - MOPED_API_APIKEY=DuMmyApiKeyHFVOVto19otC1wX6sP2N0VSKrCD70L10B7Sm525ZR6L672i2F79M9!
        command: ["graphql-engine", "serve",  "--enable-console"]

volumes:
    moped-db-vol:
        driver: local
