SOCRATA_TOKEN=Find in "Socrata Key ID, Secret, and Token" entry
HASURA_ENDPOINT=http://localhost:8082/v1/graphql
HASURA_ADMIN_SECRET=hasurapassword
MOPED_BASE_URL=https://localhost:3000/moped/projects
