AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_COGNITO_DYNAMO_SECRET_NAME=
AWS_COGNITO_DYNAMO_TABLE_NAME=
MOPED_API_CONFIGURATION_SETTINGS=
MOPED_API_CURRENT_ENVIRONMENT=
MOPED_API_HASURA_APIKEY=
MOPED_API_HASURA_SQS_URL=
MOPED_API_UPLOADS_S3_BUCKET=
