name: "Build AGOL ETL Docker image and push to DockerHub"
on:
  push:
    branches:
      - main
      - production
    paths:
      - ".github/workflows/build_docker_images.yml"
      - "moped-etl/arcgis/**"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    name: Build AGOL ETL docker image
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          platforms: linux/amd64,linux/arm64
          context: moped-etl/arcgis
          push: true
          tags: atddocker/atd-moped-etl-arcgis:${{ github.ref_name }}
